/* content start */
/* 版心的样式 设定  */
.xf_content {
    width: 100%;
    margin-bottom: 102px;
}

.content {
    width: 1251px;
    height: auto;
    margin: 0 auto;
    /* 距离上面容器高度  */
    padding-top: 66px;
    /* 因为头部之前写了fixed固定定位 */
    margin-top: 78px;
}

.content ul {}

.content ul li {
    width: 290px;
    border: 1px solid #e2e2e2;
    /* 里面的图片和四周都是有间距的 */
    padding: 10px 10px 0 10px;
    /* 怪异盒子 margin padding 都不会算在内 */
    box-sizing: border-box;
    /* 里面文字居中 */
    text-align: center;
    float: left;
    margin-right: 29px;
    margin-bottom: 18px;
}

/* 最右边第四个是没有右间距的 */
.content ul li:nth-of-type(4n) {
    margin-right: 0;
}

.content ul li img {
    width: 269px;
    height: 270px;
}

.p_1 {
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 7px;
    color: #4e6259;
}

.p_2 {
    color: #7f4b4d;
    font-weight: bolder;
}

.page img {
    width: 7px;
    height: 7px;
    float: left;
    margin-top: 12px;
}

.page span {
    display: block;
    width: 20px;
    height: 28px;
    background: #d4b675;
    text-align: center;
    line-height: 28px;
    color: #fff;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}